.manualcrop-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99999;
}
.manualcrop-overlay-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.75; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=75); /* IE lt 8 */
  -ms-filter: "alpha(opacity=75)"; /* IE 8 */
  -khtml-opacity: 0.75; /* Safari 1.x */
  -moz-opacity: 0.75; /* FF lt 1.5, Netscape */
  background-color: #000000;
}
.manualcrop-image-holder {
  padding: 25px;
  text-align: center;
}
.manualcrop-details {
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: #FFFFFF;
  font-weight: bold;
}
.manualcrop-details-value {
  font-style: italic;
  font-weight: normal;
}
.manualcrop-buttons {
  position: fixed;
  bottom: 10px;
  right: 0px;
}
.manualcrop-button, .manualcrop-button:hover {
  margin-right: 10px;
  padding: 2px 5px 2px 5px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: block;
  float: right;
  background-color: #000000;
  border: 1px solid #545454;
}
.manualcrop-button:hover {
  color: #000000;
  background-color: #FFFFFF;
}