.manualcrop-overlay {
  position: fixed;
  left: 0em;
  top: 0em;
  z-index: 10000;
}
.manualcrop-overlay-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10001;
  opacity: 0.90; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=90); /* IE lt 8 */
  -ms-filter: "alpha(opacity=90)"; /* IE 8 */
  -khtml-opacity: 0.90; /* Safari 1.x */
  -moz-opacity: 0.90; /* FF lt 1.5, Netscape */
  background-color: #000000;
}
.manualcrop-image-holder {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10002;
}
.manualcrop-overlay img.manualcrop-image {
  margin: 2em 2em 3.6em 2em;
  cursor: crosshair;
}
.manualcrop-details {
  position: absolute;
  left: 0.8em;
  bottom: 0.8em;
  z-index: 10003;
  color: #FFFFFF;
  font-weight: bold;
}
.manualcrop-details-value {
  font-style: italic;
  font-weight: normal;
}
.manualcrop-buttons {
  position: absolute;
  bottom: 0.8em;
  right: 0em;
  z-index: 10004;
}
.manualcrop-button, .manualcrop-button:hover {
  margin-right: 0.8em;
  padding: 0.1em 0.3em 0.1em 0.3em;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: block;
  float: right;
  background-color: #000000;
  border: 1px solid #545454;
}
.manualcrop-reset {
  display: none;
}
.manualcrop-button:hover {
  color: #000000;
  background-color: #FFFFFF;
}
.manualcrop-style-button-holder {
  padding-top: 1em;
}
.manualcrop-style-required {
  color: #FF0000;
}
.manualcrop-style-cropped {
  color: #96CB00;
}